<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="content" role="main">

  <div class="title">
    Welcome To Wires
  </div>

  <div class="form">
    <button href="#" class="btn1">Sing up</button>
  </div>

  <form class="form">
    <div class="input-init">
      <span>Email Address</span>
      <input type="text" class="input" placeholder="example@domain.com">
    </div>
    <br>
    <div class="input-init">
      <span>Password</span>
      <input type="password" id="password" class="input">
      <button type="button" class="show-password-btn" (click)="changeInput()">
        <i class="fas fa-eye"></i>
      </button>
    </div>
  </form>

  <div class="form">
    <button href="#" class="btn2">Sing in</button>
  </div>

  <div class="form checkRememberMe">
    <input type="checkbox" id="rememberMe" class="custom-checkbox"><label for="rememberMe">Remember Me</label>
  </div>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
