<div class="content" role="main">
  <div class="title">Welcome To Wires</div>

  <div class="section">
    <button type="button" href="#" class="btn1">Sing up</button>
  </div>

  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="section">
      <div class="input-init">
        <span>Email Address</span>
        <input
          type="email"
          required
          [(ngModel)]="logueo.email"
          id="email"
          name="email"
          #emailInput="ngModel"
          class="input"
          placeholder="example@domain.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <p
          class="error"
          [style.opacity]="emailInput.invalid && emailInput.touched ? '1' : '0'"
        >
          Not valid
        </p>
      </div>
    </div>

    <div class="section">
      <div class="input-init">
        <span>Password</span>
        <input
          type="password"
          required
          [(ngModel)]="logueo.password"
          id="password"
          name="password"
          #passwordInput="ngModel"
          class="input"
        />
        <button
          type="button"
          class="show-password-btn"
          [ngClass]="{ active: isPasswordShown }"
        >
          <i class="fas fa-eye" (click)="togglePassword()"></i>
        </button>
        <p
          class="error"
          [style.opacity]="
            passwordInput.invalid && passwordInput.touched ? '1' : '0'
          "
        >
          Required
        </p>
      </div>
    </div>

    <div class="section">
      <button type="submit" [disabled]="loginForm.invalid" class="btn2">
        Sing in
      </button>
    </div>

  </form>

  <div class="section checkRememberMe">
    <input type="checkbox" id="rememberMe" class="custom-checkbox" />
    <label for="rememberMe">Remember Me</label>
  </div>

  <div class="section">
    <p class="error" *ngIf="noValidForm">Something is wrong</p>
    <p class="text" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i> Loading...</p>
  </div>

</div>

<router-outlet></router-outlet>
