/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

body {
  background-color: #16202a;
  color: #f9fd6d;
}

footer {
  font-family: Roboto, sans-serif;
  margin-top: auto;
  align-items: center;
  line-height: 20px;
  color: #f9fd6d;
  text-align: center;
  font-size: small;
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  display: flex;
  align-items: center;
}

footer .fa-heart {
  color: red;
}

footer .textgray {
  color: #747474;
}
