/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

/* Global */
:root {
  --background-color: #16202a;
  --font-color-yellow: #f9fd6d;
  --font-color-red: #ff0000;
  --font-color-gray-1: #747474;
  --font-color-gray-2: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--font-color-yellow);
}

html {
  font-family: Roboto, sans-serif;
}

footer {
  margin-top: auto;
  align-items: center;
  line-height: 20px;
  color: var(--font-color-yellow);
  text-align: center;
  font-size: small;
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  display: flex;
  align-items: center;
}

footer .fa-heart {
  color: var(--font-color-red);
}

footer .textgray {
  color: var(--font-color-gray-1);
}
